# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/

# Virtual Environment
venv/
env/
*.env

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
staticfiles/
media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Uploaded images (do not track in Git)
static/GroundImages/
static/UserProfiles/